/* .Margin-4-value .Margin-3-value .Margin-2-value .Margin-1-value {
    border: 1px solid black;

    width: 75%;
    height: 100%;
}  */

.Margin-4-value{
    margin: 50px 150px 100px 50px ;
     border: 1px solid black;
     width: 75%;
    height: 150%;
    padding-left: 30%;
    
}

.Margin-3-value{
    margin :50px 100px 50px;
     border: 1px solid black;
     width: 75%;
    height: 200%;
    padding-bottom: 50%;
}

.Margin-2-value{
    margin : 100px 50px ;
     border: 1px solid black;
     width: 75%;
    height: 200%;
    padding-top: 50%;
}

.Margin-1-value{
    margin: 10%;
     border: 1px solid black;
     width: 75%;
    height: 200%;
    padding-top: 100%;
}